h1{
    font-family: 'Noto Sans JP', sans-serif;
}
.op{
    text-align: justify;
}

.pop {
    height: 20%;
    width: 20%;
}
h3{
    font-family: "Noto Sans JP",sans-serif;
}
.container1{
   
    height: 50%;
    width: 60%;
    float: left;
    border-radius: 0%;
}
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
.ll{
    padding-left: 3%;
}